@import 'color-scheme';

$SE: 320*568;
$iphone8: 375*667;
$iphone8plus: 414*736;
$iphone11: 414*896;
$iphone12: 390*881;
$hd: 1280*720;
$full-hd: 1920*1080;
$QHD: 2560*1440;
$UHD: 3840*2160;
$fredoka: 'Fredoka One';
$montserrat: 'Montserrat';
