@import 'constants';
@import 'color-scheme';

$full-hd-width-info: 530px;
$full-hd-width-control: 456px;

$full-hd-primary-font-size: 48px;
$full-hd-primary-line-height: 58px;

$full-hd-secondary-font-size: 20px;
$full-hd-secondary-line-height:40px;

.home-page {
  height: 100vh;
  width: 100vw;
  z-index: 2;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-between;

  .info-container {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    .primary-info {
      font-family: $fredoka;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0.05em;
      color: $white;
      margin: 0 1rem;
    }
    .secondary-info {
      font-family: $montserrat;
      font-style: normal;
      font-weight: 500;
      color: $white;
      margin: 0.2rem 1rem;
    }
  }
  .control {
    display: flex;
    flex-direction: column;
    margin: 3rem 2rem;
    .button-group {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }
    .modal {
      width: 100%;
      margin-top: 1rem;
    }

  }
}

.main-logo {
  z-index: 1;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1024px) {
  .info-container {
    width: ($low-resolution / $full-hd) * $full-hd-width-info;
    .primary-info {
      font-size: ($low-resolution / $full-hd) * $full-hd-primary-font-size;
      line-height: ($low-resolution / $full-hd) * $full-hd-primary-line-height;
    }
    .secondary-info {
      font-size: ($low-resolution / $full-hd) * $full-hd-secondary-font-size;
      line-height: ($low-resolution / $full-hd) * $full-hd-secondary-line-height;
    }
  }
  .control {
    width: ($low-resolution / $full-hd) * $full-hd-width-control;
  }
}

@media only screen and (min-width: 1280px) {
  .info-container {
    width: ($hd / $full-hd) * $full-hd-width-info;
    .primary-info {
      font-size: ($hd / $full-hd) * $full-hd-primary-font-size;
      line-height: ($hd / $full-hd) * $full-hd-primary-line-height;
    }
    .secondary-info {
      font-size: ($hd / $full-hd) * $full-hd-secondary-font-size;
      line-height: ($hd / $full-hd) * $full-hd-secondary-line-height;
    }
  }
  .control {
    width: ($hd / $full-hd) * $full-hd-width-control;
  }
}

@media only screen and (min-width: 1680px) {
  .info-container {
    width: ($macbook / $full-hd) * $full-hd-width-info;
    .primary-info {
      font-size: ($macbook / $full-hd) * $full-hd-primary-font-size;
      line-height: ($macbook / $full-hd) * $full-hd-primary-line-height;
    }
    .secondary-info {
      font-size: ($macbook / $full-hd) * $full-hd-secondary-font-size;
      line-height: ($macbook / $full-hd) * $full-hd-secondary-line-height;
    }
  }
  .control {
    width: ($macbook / $full-hd) * $full-hd-width-control;
  }
}

@media only screen and (min-width: 1920px) {
  .info-container {
    width: $full-hd-width-info;
    .primary-info {
      font-size: $full-hd-primary-font-size;
      line-height: $full-hd-primary-line-height;
    }
    .secondary-info {
      font-size: $full-hd-secondary-font-size;
      line-height: $full-hd-secondary-line-height;
    }
  }
  .control {
    width: $full-hd-width-control;
  }
}

@media only screen and (min-width: 3840px) {
  .info-container {
    width: ($QHD / $full-hd) * $full-hd-width-info;
    .primary-info {
      font-size: ($QHD / $full-hd) * $full-hd-primary-font-size;
      line-height: ($QHD / $full-hd) * $full-hd-primary-line-height;
    }
    .secondary-info {
      font-size: ($QHD / $full-hd) * $full-hd-secondary-font-size;
      line-height: ($QHD / $full-hd) * $full-hd-secondary-line-height;
    }
  }
  .control {
    width: ($QHD / $full-hd) * $full-hd-width-control;
  }
}
