@import "constants";
@import "color-scheme";

.question-container {
  width: 481px;
  height: 195px;
  background-color: $white;
  border-radius: 39px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $fredoka;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #656565;
  .question {
    margin: 0;
  }
}
